<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<form role="form"
      th:action="${figura instanceof T(org.earandap.snoop.test.domain.Cuadrado)}? @{/cuadrado} : (${figura instanceof T(org.earandap.snoop.test.domain.Triangulo)}? @{/triangulo}  : @{/hexagono} )"
      th:object="${figura}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel" th:text="${titulo}">
            Nueva figura
        </h4>
    </div>
    <div class="modal-body">


        <input type="hidden" th:value="${workspaceId}" name="workspaceId"/>

        <div th:if="${figura instanceof T(org.earandap.snoop.test.domain.Cuadrado)}">
            <div class="form-group">
                <label for="cuadrado-lado">Lado</label>
                <input type="text" class="form-control" id="cuadrado-lado" th:field="*{lado}"/>
            </div>
        </div>
        <div th:if="${figura instanceof T(org.earandap.snoop.test.domain.Triangulo)}">
            <div class="form-group">
                <label for="triangulo-base">Base</label>
                <input type="text" class="form-control" id="triangulo-base" th:field="*{base}"/>
            </div>
            <div class="form-group">
                <label for="triangulo-altura">Altura</label>
                <input type="text" class="form-control" id="triangulo-altura" th:field="*{altura}"/>
            </div>
            <div class="form-group">
                <label for="triangulo-hipotenusa">Hipotenusa</label>
                <input type="text" class="form-control" id="triangulo-hipotenusa" th:field="*{hipotenusa}"/>
            </div>
        </div>
        <div th:if="${figura instanceof T(org.earandap.snoop.test.domain.Hexagono)}">
            <div class="form-group">
                <label for="hexagono-radio">Radio</label>
                <input type="text" class="form-control" id="hexagono-radio" th:field="*{radio}"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
</html>




